@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'typeface-poppins';


@keyframes bounce-img {
0%, 100% {
    transform: translateY(-2%);
    animation-timing-function: cubic-bezier(0.0,0,0,0);
}
50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.0,0);
}
}
.animate-bounce-img {
    animation: bounce-img 5s infinite;
}

.crypto-widget-container {
position: relative;
width: 100%;
overflow: hidden;
}

  
  
  
  
  
  


  
  